#menu, #menu ul 

{
        padding : 1;
        margin : 50;
        list-style : none;
        line-height : 50px;
        text-align : center;
}

#menu

{
        font-weight : none;
        font-family : Arial;
        font-size : 70px;
}

#menu a 

{
        display : block;
        padding : 0;
        background : #29292A;       
        color : #E9EBED;
        text-decoration : none;
		font-family: "sbitn.ttf" ; 	src: url('font/stranger_back_in_the_night.ttf'); 
        width : 125px;
		border-style : solid;
		border-width : 2px;
		border-radius : 6px;
		border-color : #ffffff;
}

#menu li     

{ 
        float : left;
        border-right : 1px solid #fff; 
}

html>div.menu_1 #menu li

{
        border-right: 1px solid transparent ; 	
}


#menu li ul 

{ 
        position: fixed; 
        width: 100px; 
        left: -999em; 
}



#menu li ul li 

{
        border-top : 1px solid #fff; 
}

html>div.menu_1 #menu li ul li                

{
        border-top : 1px solid transparent;
}


#menu li ul ul 

{
        margin    : 1px 0 0 144px ; 
        border-left     : 5px solid #fff ;      
}

html>div.menu_1 #menu li ul ul                

{
        border-left     : 1px solid transparent ; 
}

#menu a:hover    

{
        color: #000;
        background: #fff;
}

#menu li:hover ul ul, #menu li.sfhover ul ul 

{
        left: -999em;
}


#menu li:hover ul, #menu li li:hover ul, #menu li.sfhover ul, #menu li li.sfhover ul

{
        left: auto;
        min-height: 0;
}

div.part_1

{	
    color: blue;
	text-align: left;
}
body 
{
	background-color: black;
}

@font-face
 { 	
 font-family: "sbitn.ttf" ; 	src: url('font/stranger_back_in_the_night.ttf'); 
 }