#menu, #menu ul 

{
        padding : 1;
        margin : 0;
        list-style : none;
        line-height : 21px;
        text-align : center;
}

#menu

{
        font-weight : bold;
        font-family : Arial;
        font-size : 12px;
}

#menu a 

{
        display : block;
        padding : 0;
        background : #DBDBDB;       
        color : #000;
        text-decoration : none;
        width : 100px;
		border-style : solid;
		border-width : 1px;
}

#menu li     

{ 
        float : left;
        border-right : 1px solid #fff; 
}

html>div.menu_1 #menu li

{
        border-right: 1px solid transparent ; 
}


#menu li ul 

{ 
        position: absolute; 
        width: 100px; 
        left: -999em; 
}



#menu li ul li 

{
        border-top : 1px solid #fff; 
}

html>div.menu_1 #menu li ul li                

{
        border-top : 1px solid transparent;
}


#menu li ul ul 

{
        margin    : -22px 0 0 144px ; 
        border-left     : 5px solid #fff ;      
}

html>div.menu_1 #menu li ul ul                

{
        border-left     : 1px solid transparent ; 
}

#menu a:hover    

{
        color: #000;
        background: #fff;
}

#menu li:hover ul ul, #menu li.sfhover ul ul 

{
        left: -999em;
}


#menu li:hover ul, #menu li li:hover ul, #menu li.sfhover ul, #menu li li.sfhover ul

{
        left: auto;
        min-height: 0;
}

div.part_1

{	
    color: blue;
	text-align: left;
}